
.clearfix {
  clear: both;
}
body {
  line-height: 1;
  padding-right: 15%;
  padding-left: 15%;
}
.delicious {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
}
.headerPic {
  float: left;
}
.tag {
  font-size: 10px;
  font-family: 'Electrolize', sans-serif;
  color: #a2a2a2;
}
hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png)
  repeat-x 0 0;
   border: 0;
}

.text p {
  font-family: georgia;
  color: #656565;
  text-indent: 28px;
  line-height: 130%;
}

ul {
  list-style: square;
  float:left;
}

#title {
  font-family: 'Electrolize', sans-serif;
  font-size: 38px;
}
.date {
  font-size: 11px;
  color: #a2a2a2;
  font-family: 'Electrolize', sans-serif;
}

.header{
  width: 50%;
  padding-top: 4%;
  padding-bottom: 4%;
  float: left;
}
.links {
  width: 50%;
  float: left;
  text-align: right;
  padding-top: 6%;
}
.recipeTitle {
  padding-top: 4%;
  padding-bottom: 4%;
  width: 70%;
  float: left;
}
.print {
  padding-top: 4%;
  padding-bottom: 4%;
  width: 30%;
  float: left;
  font-size: 11px;
  color: #a2a2a2;
  font-family: 'Electrolize', sans-serif;
}
.print p {
  padding-top: 27%;
  text-align: right;
}
.chocolatePie img {
  width: 100%;
}

/*ul {
  width: 50%;
  display: inline-block;
}*/

.notebook {
background-image: url("img/list-bg.png");
height: 305px;
}
