
.clearfix {
  clear: both;
}
body {
  line-height: 1;
  padding-right: 15%;
  padding-left: 15%;
}
.delicious {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
}
.headerPic {
  float: left;
}
.tag {
  font-size: 10px;
  font-family: 'Electrolize', sans-serif;
  color: #a2a2a2;
}
.blockline {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png)
  repeat-x 0 0;
   border: 0;
}

.text p {
  font-family: georgia;
  color: #656565;
  text-indent: 28px;
  line-height: 130%;
}

ul {
  list-style: square;
  font-family: 'Handlee', cursive;
  color: #a2a2a2;
  font-size: 17px;
  padding-top: 10%;
  line-height: 177%;
}

#title {
  font-family: 'Electrolize', sans-serif;
  font-size: 38px;
}
.date {
  font-size: 11px;
  color: #a2a2a2;
  font-family: 'Electrolize', sans-serif;
}

.header{
  width: 50%;
  padding-top: 4%;
  padding-bottom: 4%;
  float: left;
}
.links {
  width: 50%;
  float: left;
  text-align: right;
  padding-top: 6%;
}
.recipeTitle {
  padding-top: 4%;
  padding-bottom: 4%;
  width: 70%;
  float: left;
}
.print {
  padding-top: 4%;
  padding-bottom: 4%;
  width: 30%;
  float: left;
  font-size: 11px;
  color: #a2a2a2;
  font-family: 'Electrolize', sans-serif;
}
.print p {
  padding-top: 27%;
  text-align: right;
}
.chocolatePie img {
  width: 100%;
}

.list1 {
  width:50%;
  float: left;
}

.notebook {
background-image: url("img/list-bg.png");
height: 305px;
}
.footerPic {
  width: 15%;
  float: left;
  padding-right: 3%;
}
.footerText {
  width: 57%;
  float: left;
}
.share {
  width: 25%;
  float: left;
}
.footerText h2 {
  font-family: georgia;
  font-weight: bold;
  font-size: 20px;
  color: #656565;
  padding-bottom: 4%;
}
.footerText p {
  font-family: georgia;
  font-size: 14px;
  color: #656565;
}
.button {
   background-color: #b87255 ;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
.linebreak {
  width: 45%;
  display: inline-block;
}
.bottomline {
  text-align: center;
}
.footer {
  text-align: center;
  font-family: georgia;
  color: #a2a2a2;
  padding: 15px;
  font-size: 12px;
  line-height: 150%;
}
